{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>app-tarefas</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>

<body>
    <div class="container">
        <h1 class="title">~/<span class="highlight">app-tarefas</span></h1>
        <p class="date">sua lista de tarefas</p>
        {% block body %} {% endblock %}
        
        
    </div>
</body>

</html>